{% extends 'base.html' %}

    {%block head%}
    {%for i in list_questions%}
        <title>AskMate {{i.title}}</title>
        {%endfor%}
    {%endblock%}

    {% block body%}



{%for i in list_questions%}
<section class="card mt-4"  style="margin: auto; width: 88%; margin-bottom: 2%;">
    <div class="border p-2">
        {% if i.vote_number >= 5 %}
        <span style="margin: 5px;" class="badge rounded-pill bg-success">{{i.vote_number}}</span>
        {% elif i.vote_number < 0 %}
        <span style="margin: 5px;" class="badge rounded-pill bg-danger">{{i.vote_number}}</span>
        {%else%}
        <span style="margin: 5px;" class="badge rounded-pill bg-secondary">{{i.vote_number}}</span>
        {%endif%}
        <a class="fas fa-chevron-up" href="/display/{{question_id}}/vote_up" role="button" style="text-decoration: none;"></a>
        <a class="fas fa-chevron-down" href="/display/{{question_id}}/vote_down" role="button" style="text-decoration: none;"></a>
        <div class="row m-0" style="text-align: center;">
            <div class="" style="text-align:center;" >
                <a class="text-decoration-none">
                    <img class="" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png" width="50" height="50" alt="...">
                </a>
            
            </div>
            
            <div class="flex-grow-1 pl-2">

                <a class="text-decoration-none">
                    <h2 class="text-capitalize h5 mb-0">{{i.title}}</h2>
                </a> 
                <p class="small text-secondary m-0 mt-1">{{i.submission_time}}</p>
                <h2 class="text-capitalize h5 mb-0">{{i.messsage}}</h2>
            </div>


            <div style="text-align: center;"><p>{{i.message}}</p></div>
        {%if i.image != "default.png" %}
        <img src="/static/images/{{i.image}}" width="300" height="300" class="centimage">
        <img src={{i.image}} class="card-img-bottom" alt="">
        {%endif%}
        <footer class="">

            <div class="">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-0">
                        <a class="small text-decoration-none">
                            <i class="fas fa-heart"></i> {{i.vote_number}} Like
                        </a>
                    </li>
                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
                        <a class="small text-decoration-none">
                            <i class="fas fa-comment-alt"></i> {{list_comments|length}} Answer
                        </a>
                    </li>
                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0 ">
                        <a class="w-auto p-3">
                            {%for i in list_tags%}
                            {% if i.name == 'python' %}
                            <i class="fab fa-python">Python</i>
                            {% elif i.name == 'css' %}
                            <i class="fab fa-css3-alt">CSS</i>
                            {% elif i.name == 'sql' %}
                            <i class="fas fa-database">SQL</i>
                            {%endif%}
                            {%endfor%}

                        </a>
                    </li>
                    <li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0 ">
                        <a href="/comments/add/{{question_id}}" style='text-align:center;'type="button" class=" fas fa-reply text-decoration-none">Answer question</a>
                    </li>
                </ul>
            </div>
        </footer>
    </section>
{%endfor%}

{%if list_comments%}
<div class="container">
    {%for item in list_comments%}
	<div class="card" style="margin: 5px;">
	    <div class="card-body">      
	        <div class="row">
        	    <div class="col-md-2">	
                    {% if item.vote_number >= 5 %}
                    <span style="margin: 5px;" class="badge rounded-pill bg-success">{{item.vote_number}}</span>
                    {% elif item.vote_number < 0 %}
                    <span style="margin: 5px;" class="badge rounded-pill bg-danger">{{item.vote_number}}</span>
                    {%else%}
                    <span style="margin: 5px;" class="badge rounded-pill bg-secondary">{{item.vote_number}}</span>
                    {%endif%}
                    <a class="fas fa-chevron-up" href="/comments/{{question_id}}/{{item.id}}/vote_up" role="button" style="text-decoration: none;"></a>
        
                    <a class="fas fa-chevron-down" href="/comments/{{question_id}}/{{item.id}}/vote_down" role="button" style="text-decoration: none;"></a>

        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	        <p class="text-secondary text-center">{{item.submission_time}}</p>
        	    </div>
        	    <div class="col-md-10">
        	       <div class="clearfix"></div>
                   <div class="text-text" style="text-align: left;"><p>{{item.message}}</p></div>
                    {%if item.image != 'default.png'%}
        	        <p>
                        <img src="/static/images/{{item.image}}" width="350" height="350" class="centimage">

                   </p>
                   {%endif%}
                   <a href="/comments/{{item.id}}/{{question_id}}/add/" class="float-end btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i></a>
                   <a class="float-end btn btn-outline-primary ml-2" href="/display/{{item.id}}/delete"> <i class="fas fa-trash-alt"></i> </a>
        	    </div>
            </div>
            {%for i in nested_comment%}
            {%if i.answer_id == item.id%}
	        	<div class="card card-inner">
            	    <div class="card-body">
            	        <div class="row">
                    	    <div class="col-md-2">
                    	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    	        <p class="text-secondary text-center">{{i.submission_time}}</p>
                    	    </div>
                    	    <div class="col-md-10">
                    	        <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>replied_user</strong></a></p>
                    	        <p>{{i.message}}</p>
                    	    </div>
            	        </div>
            	    </div>
                </div>
                {%endif%}
             {%endfor%}
	    </div>
    </div>
    {%endfor%}
</div>
{%endif%}

{%endblock%}